/*
Notes

Fonts: Body text: sumanaregular, Header: Aldrich , Sub-Header: Arvo 



*/





* {
  box-sizing: border-box;
  transition: .4s;
}

html {
	font-size: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Arvo');

@font-face {

    font-family: 'sumanaregular';
    src: url('../fonts/sumana-regular-webfont.woff2') format('woff2'),
         url('../fonts/sumana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*

ALL PAGES

*/

body{
  background-color: #E3E5C5;
}

main, address {
  color: black;
  max-width: 75ch;
  font-family: 'sumanaregular';
/*  animation-name: highlevel;
  animation-duration: 2s;
  animation-iteration-count: infinite;*/
}

ul {
   font-family: 'Arvo', serif;
}

h1, h2, h3 {
  color: black;
  font-family: 'Aldrich', sans-serif;
}

/*@keyframes highlevel {
  0%{
    background-color: white;
  }
  50%{
    background-color: orange;
  }
  100%{
    background-color: white;
  }
  }*/


#fixed-nav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    left: 0;
    height: 100%;
    width: 6rem;
    background-color: #32213A;
    z-index: 1;
}

#fixed-nav li{
  height: 1.5rem;
}

#fixed-nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    position: fixed;
    padding: .5rem;
    margin: .5rem;
    color: #D1C9A1;
}

#fixed-nav a:hover{
  color: #66717E;
}


.right-of-nav {
  position: absolute;
  margin-left: 5.5rem;
  padding-left: 1.5rem;
  padding-right: .8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;



}

.sumana{
	font-family: 'sumanaregular'
}

/*

LANDING PAGE

*/

#landing-content {
/*  background-image: url("../Images/milky-way.jpg");
  background-repeat: no-repeat;
  background-size: 100%*/
  background-color: #E3E5C5;
}

#landing-nav {
  background-color: #32213A;
}


#landing-header { 
  width: 50%;
  padding: .625rem; 
  margin: auto;
  text-align: center;
  /*box-shadow: 5px 5px 2.5px #383B53;*/
}

#landing-header h2 {
  font-size: 3rem;
}

#landing-header ul li {
  display: inline-block;
}

#landing-header ul li a {
  color: white;
  display: inline-block;
  text-transform: uppercase;
/*  padding: 0.2rem .8rem 0px .8rem;*/
/*  margin: .2rem .9rem .2rem .9rem;*/
  text-decoration: none;
  font-size: 2rem;
  color: #D1C9A1;

}

#landing-about{
padding: 0.2rem .8rem 0px 1rem;
 margin: .2rem 5rem .2rem .9rem;
}

#landing-resume{
padding: 0.2rem .8rem 0px 1rem;
 margin: .2rem .9rem .2rem .9rem;
}

#landing-header ul li a:hover {
  color: #66717E;
}

#landing-intro-header{
  text-align: center;
}

#landing-introduction {
  font-size: 1.5rem;
  padding: .8rem;
  color: #313449;
}

#landing-introduction h3 {
  font-size: 2rem;
  padding-bottom: .625rem;
}

#landing-footer {
  font-size: .7rem;
  padding: .8rem;
  text-align: center;
}

#intro-text {
  text-align: left;
  margin: auto;
}


/*

ABOUT PAGE

*/

#about main {
  font-size: 1.2rem;
}

#about-image {
  float: right;
  width: 15rem;
  height: 15rem;
}

/*

RESUME PAGE

*/

#resume-address{
  text-align: center;
}

#resume main {
  font-size: 1.2rem;
}


#contact-list {
  list-style-type: none;
}

#resume-format {
  padding-left: 3rem;
  padding-top: .3rem;
}

.resume-block{
  margin-left: .5rem;
}

#resume-main h3 {
  margin-bottom: .7rem;
}

#resume-main ul {
  font-family: 'sumanaregular'
}

/*

CONTACT INFO

*/

#contact-email {
  font-size: 1.3rem;
  margin: 0rem;
}

#contact-list {
  padding-top: 225%;
}

#contact-list li{
  padding-top: 3.7rem;
}

#contact-image{
  height: 3.5rem;
  width: 3.5rem;
}


/*

INDEX FOOTER 

*/

#index-footer{
  margin: auto;
  width: 50%;
  text-align: center;
}


#footer-contact-list{
  display: table;
  margin: auto;
  width: 50%;
}

#footer-contact-list li{
  display: inline;
}

