/*
Cristiano D'Angelo
IDM-221
12/15/2017
Final Project

Notes:

Fonts - Body text: sumanaregular, Header: Aldrich , Sub-Header: Arvo 
*/


/*

IMPORTS AND ALL SELECTOR

*/



* {
  box-sizing: border-box;
  transition: .4s;
  color: #32213A;
}

html {
	font-size: 100%;
}


@import url('https://fonts.googleapis.com/css?family=Arvo');

@font-face {

    font-family: 'sumanaregular';
    src: url('../fonts/sumana-regular-webfont.woff2') format('woff2'),
         url('../fonts/sumana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*

ALL PAGES

*/

body{
  background-image: url("../images/sandstone.jpg");
  background-size: cover;
}

main, address {
  color: black;
  max-width: 75ch;
  font-family: 'sumanaregular', serif;
}

ul {
   font-family: 'Arvo', serif;
}

h1, h2, h3 {
  color: #32213A;
  font-family: 'Aldrich', sans-serif;
}

h1 {
  font-size: 2.5rem;
}

.bold {
  font-weight: bold;
}


/*

NAV BAR

*/

#fixed-nav {
    overflow: hidden;
    position: fixed;
    left: 0;
    height: 100%;
    width: 6rem;
    background-color: #32213A;
    z-index: 1;
    box-shadow: 0 0 5px #32213A;
}

#fixed-nav li{
   height: auto;
}

#fixed-nav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: .5rem;
    color: #D1C9A1;
}

#fixed-nav a:hover{
  color: #66717E;
}


.right-of-nav {
  position: absolute;
  margin-left: 6rem;
  padding-left: 1.5rem;
  padding-right: .8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;



}

#logo{
  max-width: 4rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.sumana{
	font-family: 'sumanaregular', serif;
}


/*

INDEX PAGE

*/

#landing-content {
background-image: url("../images/sandstone.jpg");
background-size: cover;
}

#landing-nav {
  background-color: #32213A;
}


#landing-header { 
  width: 50%;
  padding: .625rem; 
  margin: 10% auto 0;
  text-align: center;
}

#landing-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#landing-header ul li {
  display: inline-block;
}

#landing-header ul li a {
  color: white;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  color: #D1C9A1;

}

#landing-header ul li a:hover {
  color: #66717E;
}

#landing-about{
padding: 0.2rem .8rem 0px 1rem;
 margin: .2rem 5rem .2rem .9rem;
}

#landing-resume{
padding: 0.2rem .8rem 0px 1rem;
 margin: .2rem .9rem .2rem .9rem;
}


#landing-intro-header{
  text-align: center;
}

#landing-introduction {
  margin-top: 1.2rem;
  font-size: 1.5rem;
  padding: .8rem;
  color: #313449;
}

#landing-introduction h3 {
  font-size: 2rem;
  padding-bottom: .625rem;
}

#landing-footer {
  font-size: .7rem;
  padding: .8rem;
  text-align: center;
}

#intro-text {
  text-align: center;
  margin: auto;
}


/*

INDEX FOOTER 

*/

#index-footer{
  padding-top: 2rem;
  margin: auto;
  width: 50%;
  text-align: center;
}


#footer-contact-list{
  display: table;
  margin: auto;
  width: 50%;
}

#footer-contact-list li{
  display: inline;
}


/*

ABOUT PAGE

*/

#about main {
  font-size: 1.2rem;
}

#about-image {
  margin: 1rem 1rem 0rem 0;
  float: left;
  width: 15rem;
  height: auto;
  box-shadow: 0 0 5px #32213A;
}


/*

RESUME PAGE

*/

#resume-address{
  text-align: center;
}

#resume main {
  font-size: 1.2rem;
}


#contact-list {
  list-style-type: none;
}

.resume-format {
  padding-left: 3rem;
  padding-top: .3rem;
}

.resume-block{
  margin-left: .5rem;
}

#resume-main h3 {
  margin-bottom: .7rem;
}

#resume-main ul {
  font-family: 'sumanaregular', serif;
}

/*

CONTACT INFO

*/

#contact-email {
  font-size: 1.1rem;
  margin: 0rem;
}

#contact-list {
  padding-top: 200%;
}

.contact-image{
  height: 3.5rem;
  width: 3.5rem;
}





